.costs-circul__diagramm {
    display: flex;
    justify-content: center;
    margin: 60px 60px;
}

.costs-doughnut {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 25%;
}
.cost-month {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
    font-weight: 600;
    font-size: 0.9vw;
    z-index: 1;
}
.doughnut {
    color: white;
    filter: drop-shadow(3px 2px 5px rgba(0, 60, 116, 0.842));
}
