.cost-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 1rem auto;
  padding: 0.5rem;
  color: #fff;
  background-color: rgb(180, 121, 10);
}
.cost-item__description {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 600;
}
.cost-item__price {
  display: flex;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: rgb(63, 105, 153);
}
.cost-item__description h2 {
  margin: 0;
  padding: 0px 15px;
  font-size: 1rem;
}
.cost-item div:first-child {
  display: flex;
  align-items: center;
  font-weight: 600;
}

